@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.line{
    height: 49.9vh;
    width: 100%;
    border-bottom: blue 1px solid;
}
.container-detail{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.detail{
    justify-content: center;
    align-items: bottom;
    display: flex;
    width: fit-content;
    height: 50vh;
}
.NavText{
    position: absolute;
    background: none;
    top: 37%;
    color: blue;
    font-family: 'Great Vibes', cursive;
    font-size: 10vh;
}
.counter{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.counter div{
    width: 20vw;
}
.counter div h3{
    color: blue;
    text-align: center;
    font-family:'Great Vibes', cursive;
}
.time{
    font-size: 7vw;
}
h3{
    font-size: 4vw;
}